{% load i18n %}
{% block awards %}
<section class="resume-section" id="awards">
<div class="resume-section-content">
    <h2 class="mb-5">{% translate "Деятельность и сертификаты" %}</h2>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            {% translate 'Хакатон "Цифровой прорыв. Креативные индустрии. Коммуникации и контент". Разработка системы автоматизированного взаимодействия с тревел-блогерами. 2021' %}
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            {% translate "Курс НИУ ВШЭ, Основы машинного обучения. 2021" %}
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            {% translate "Сертификат 1С: Профессионал на знание основных механизмов и возможностей платформы 1С:Предприятия 8. 2019" %}
        </li>
    </ul>
</div>
</section>
{% endblock %}