{% load i18n %}
{% block education %}
<section class="resume-section" id="education">
<div class="resume-section-content">
    <h2 class="mb-5">{% translate "Образование" %}</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">{% translate "Уфимский государственный авиационный технический университет" %}</h3>
            <div class="subheading mb-3">{% translate "Магистратура" %}</div>
            <div>{% translate "Факультет информатики и робототехники. Компьютерный анализ и интерпретация данных." %}</div>
            <p>{% translate "Изучал методы машинного обучения и глубокое обучение." %}</p>
            <p>{% translate "Диплом с отличием." %}</p>
            <p>{% translate 'Выпускная квалификационная работа: "Применение методов обработки естественного языка для извлечения информации из медицинских данных".' %}</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">{% translate "Сентябрь 2020 - Июнь 2022" %}</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">{% translate "Башкирский государственный университет" %}</h3>
            <div class="subheading mb-3">{% translate "Бакалавриат" %}</div>
            <div>{% translate "Факультет математики и информационных технологий. Прикладная информатика." %}</div>
            <p>{% translate "Диплом с отличием." %}</p>
            <p>{% translate "Изучал численные методы, алгоритмы и структуры данных, линейную алгебру, математический анализ, статистику и теорию вероятности." %}</p>
            <p>{% translate 'Выпускная квалификационная работа: "Применение методов машинного обучения для решения задачи регрессии: прогнозирование суммы выручки спортивных мероприятий".' %}</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">{% translate "Сентябрь 2016 - Июнь 2020" %}</span></div>
    </div>
</div>
</section>
<hr class="m-0" />
{% endblock %}