{% block interests %}
<section class="resume-section" id="interests">
<div class="resume-section-content">
    <h2 class="mb-5">Интересы</h2>
    <p>
        Читаю книги и статьи на хабре/в телеграме, смотрю курсы для развития навыков, играю на гитаре, увлекаюсь баскетболом и дрифтом.<br>
        Посещаю бассейн, чтобы не сломаться в ближайшем будущем.<br>
        В данный момент читаю "Стив Макконнелл. Совершенный код", а также параллельно другие книги о PostgreSQL, Django и Python.<br>
        Люблю слушать подкасты на разные темы. Мои любимые каналы: Запуск завтра, НОРМ, Podlodka Podcast, Базаров порезал палец.<br>
        Обожаю Наруто и темное бархатное.
    </p>


</div>
</section>
<hr class="m-0" />
{% endblock %}